<div class="social_links">
  <footer>
    <ul>
      <li><a href="mailto:priscillasrng@gmail.com" title="Email"><i class="far fa-envelope fa-3x" id="unlocked"></i><i class="fas fa-envelope fa-3x" id="locked"></i></a></li>
      <li><a href="https://www.linkedin.com/in/priscillasarang/" title="LinkedIn"><i class="fab fa-linkedin fa-3x" id="unlocked"></i><i class="fab fa-linkedin-in fa-3x" id="locked"></i></a></li>
      <li><a href="https://github.com/prisng" title="GitHub"><i class="fab fa-github fa-3x" id="unlocked"></i><i class="fab fa-github-square fa-3x" id="locked"></i></a></li>
      <li><a href="https://www.facebook.com/priscilla.ng.58" title="Facebook"><i class="fab fa-facebook fa-3x" id="unlocked"></i><i class="fab fa-facebook-f fa-3x" id="locked"></i></a></li>
    </ul>
  </footer>
</div>
