/* For smooth anchor transitions */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: lighter;
}

a {
    color: white;
    display: block; /* for clickable item list links */
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid #b5a1ab;
    margin: auto 1rem;
    padding: 7.5px;
}

hr.header {
    border: 0;
    border-top: 1px solid white;
    margin: 2.5rem 25rem 0rem 25rem;
}

nav ul {
    display: inline-flex;
    font-weight: bold;
    letter-spacing: 0.15em;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

nav ul a {
    background-color: #b5a1ab;
    display: block;
    outline: 1px solid transparent;
    padding: 0.5rem;
    width: 100%;
}

nav ul a:hover {
    background-color: #c9b5be;
    cursor: pointer;
    transition: 0.5s;
}

footer {
    border-top: 1px solid #b5a1ab;
    font-size: .75em;
    padding: 7.5px;
}

footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

footer ul li {
    display: inline;
    margin: auto 2.5em;
}

footer ul li a {
    color: #b5a1ab;
    display: inline;
}

footer ul li a:hover #unlocked, footer ul li a #locked {
    display: none;
    text-decoration: none;
}

footer ul li a:hover #locked {
    -webkit-animation: fadeIn 1.25s;
    animation: fadeIn 1.5s;
    display: inline;
    text-decoration: none;
}

/* Fading animations */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeInTranslucent {
    from { opacity: 0 }
      to { opacity: 0.9 }
}
@keyframes fadeInTranslucent {
    from { opacity: 0 }
      to { opacity: 0.9 }
}

/* Fonts */

@font-face {
	 font-family: "Roboto-Thin";
	  src: url("/assets/fonts/Roboto-Thin.ttf");
}

@font-face {
	 font-family: "Roboto-Light";
	  src: url("/assets/fonts/Roboto-Light.ttf");
}

@font-face {
	 font-family: "Roboto-Bold";
	  src: url("/assets/fonts/Roboto-Bold.ttf");
}

#myphoto {
    height: 200px;
    padding-top: 30px;
    width: 200px;
}

#icon-logo {
    width: 50px;
    height: 50px;
}

.container {
    padding: 0rem 20rem 1rem 20rem;
}

.navbar {
    font-size: 1rem;
    text-transform: uppercase;
}

.cover {
    -webkit-animation: fadeIn ease-in 1s;
    animation: fadeIn ease-in 1s;
    color: white;
    line-height: 0.25rem;
    margin: 0;
    padding: 15rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

/* make cover background image translucent */
.cover::before {
    -webkit-animation: fadeInTranslucent 1.25s;
    animation: fadeInTranslucent 1.25s;
    background-image: url(/assets/pictures/pinkflowers.jpg);
    background-size: 100% 100%;
    content: "";
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.experience table, .education table {
    text-align: left;
    width: 100%;
}

.experience table tr th.title, .education table tr th.title{
    padding-left: 2.5rem;
}

.experience table tr th.date, .education table tr th.date {
    font-family: 'Roboto-Thin', sans-serif;
    font-style: italic;
    text-align: right;
    vertical-align: text-top;
}

.experience table tr td, .education table tr td {
    padding: 1rem 0rem 1rem 2.5rem;
}
