/* --------------------
          Fonts
   -------------------- */
@font-face {
	 font-family: "Roboto-Thin";
	  src: url("/assets/fonts/Roboto-Thin.ttf");
}

@font-face {
	 font-family: "Roboto-Light";
	  src: url("/assets/fonts/Roboto-Light.ttf");
}

@font-face {
	 font-family: "Roboto-Bold";
	  src: url("/assets/fonts/Roboto-Bold.ttf");
}

/* --------------------
    Fading animation
   -------------------- */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeInTranslucent {
    from { opacity: 0 }
      to { opacity: 0.9 }
}
@keyframes fadeInTranslucent {
    from { opacity: 0 }
      to { opacity: 0.9 }
}

html {
    scroll-behavior: smooth; /* For smooth anchor transitions */
}

header {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: lighter;
}

a {
    color: white;
    display: block; /* for clickable item list links */
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid #b5a1ab;
    margin: auto 1rem;
    padding: 7.5px;
}

/* --------------------
    Body content
   -------------------- */
.content {
   height: 100%;
   position: absolute;
   top: 100%; /* push content below header*/
   width: 100%;
}

/* --------------------
    Navigation Bar
   -------------------- */
.navbar {
   font-size: 1rem;
   text-transform: uppercase;
}

nav ul {
    display: inline-flex;
    font-weight: bold;
    letter-spacing: 0.15em;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

nav ul a {
    background-color: #b5a1ab;
    display: block;
    outline: 1px solid transparent;
    padding: 0.5rem;
    width: 100%;
}

nav ul a:hover {
    background-color: #c9b5be;
    cursor: pointer;
    transition: 0.5s;
}

/* --------------------
    Header background
   -------------------- */
.background {
    -webkit-animation: fadeIn ease-in 1s;
    animation: fadeIn ease-in 1s;
    width:  100%;
    height: 100%;
    position: absolute;
    background-image: url(/assets/pictures/pinkflowers.jpg);
    background-size: cover;
}

.background-overlay {
    font-family: 'Roboto-Thin', sans-serif;
    position: absolute;
    width:  100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* dark overlay opacity */
    /* for centering title and tagline text */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr.header {
    border: 0;
    border-top: 0.5px solid white;
    margin: -0.5rem 0 -1.25rem 0;
    width: 7.5%;
}

/* .cover {
    -webkit-animation: fadeIn ease-in 1s;
    animation: fadeIn ease-in 1s;
    color: white;
    line-height: 0.25rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
} */

  /* make cover background image translucent */
  /* .cover::before {
   -webkit-animation: fadeInTranslucent 1.25s;
   animation: fadeInTranslucent 1.25s;
   background-image: url(/assets/pictures/pinkflowers.jpg);
   background-size: 100% 100%;
   content: "";
   opacity: 0.9;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
  } */

/* --------------------
    Homepage content
  -------------------- */
.homepage {
   padding: 0rem 20rem 1rem 20rem;
}

/* --------------------
    Experience Section
  -------------------- */
.experience table, .education table {
    text-align: left;
    width: 100%;
}

.experience table tr th.title, .education table tr th.title {
    padding-left: 2.5rem;
}

.experience table tr th.date, .education table tr th.date {
    font-family: 'Roboto-Thin', sans-serif;
    font-style: italic;
    text-align: right;
    vertical-align: text-top;
}

.experience table tr td, .education table tr td {
    padding: 1rem 0rem 1rem 2.5rem;
}

/* --------------------
  Footer - social links
   -------------------- */
.social_links {
    border-top: 1px solid #b5a1ab;
    font-size: .75em;
    padding: 7.5px;
}

.social_links ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social_links ul li {
    display: inline;
    margin: auto 2.5em;
}

.social_links ul li a {
    color: #b5a1ab;
    display: inline;
}

.social_links ul li a:hover #unlocked, footer ul li a #locked {
    display: none;
    text-decoration: none;
}

.social_links ul li a:hover #locked {
    -webkit-animation: fadeIn 1.25s;
    animation: fadeIn 1.5s;
    display: inline;
    text-decoration: none;
}

/* --------------------
        Photos
   -------------------- */
#myphoto {
    height: 200px;
    padding-top: 30px;
    width: 200px;
}

#icon-logo {
    width: 50px;
    height: 50px;
}
