<!DOCTYPE html>
	<html>
		<head>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		  {% include header.html %}
      <script src="https://kit.fontawesome.com/8a881f87a4.js" crossorigin="anonymous"></script>
		</head>
		<body>
			<div class="container">
        {% include navigation.html %}
        {% include about.html %}
			</div><!-- /.container -->
			<footer>
	    		<ul>
              <li><a href="mailto:priscillasrng@gmail.com" title="Email"><i class="far fa-envelope fa-3x"></i></a></li>
              <li><a href="https://www.linkedin.com/in/priscillasarang/" title="LinkedIn"><i class="fab fa-linkedin fa-3x"></i></a></li>
              <li><a href="https://github.com/prisng" title="GitHub"><i class="fab fa-github fa-3x"></i></a></li>
              <li><a href="https://www.facebook.com/priscilla.ng.58" title="Facebook"><i class="fab fa-facebook fa-3x"></i></a></li>
				</ul>
			</footer>
		</body>
	</html>
